

body {
  background: url('images/image (1).png') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  overflow: hidden;
}


.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.box {
  background: rgba(0, 0, 0, 0.4);
  padding: 60px 40px;
  border: 2px solid #0ff;
  border-radius: 12px;
  color: white;
  animation: 1.2s ease;
  max-width: 600px;
  width: 90%;
}

.box h1 {
    color: white;
  font-size: 60px;
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 2px;
}

.box h2 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #0ff;
  letter-spacing: 1px;
}



.btn {
  
  padding: 14px 40px;
  font-size: 18px;
  color: #0ff;
  border: 2px solid #0ff;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.4s ease;
  background: transparent;
}

.btn:hover {
  background: #0ff;
  color: black;
  transform: scale(1.05);
}


